.idea
.idea/*
.coverage
.coverage.*
.tox
build/*
dist/*
Rplots.pdf
.ipynb_checkpoints/
.ipynb_checkpoints/*
.Rproj.user
.Rhistory
.RData
.Ruserdata
__pycache__/
plots/
results/
*.pyc
derby.log
/docs/build
